body {
    font-size: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;

    display: grid;

    justify-content: center;
    align-content: center;
}

.wrapper-normal {
    grid-template-columns: repeat(7, 5vw);
    grid-template-rows: repeat(10, 5vh);
}

.wrapper-sci {
    grid-template-columns: repeat(13, 5vw);
    grid-template-rows: repeat(10, 5vh);
}

#calculator {
    grid-row-start: span 10;

    display: grid;
    grid-gap: 5px;

    border: 1px solid black;
    background-color: #999;
    padding: 15px;
}

.calculator-normal {
    grid-column-start: span 6;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.calculator-sci {
    grid-column-start: span 12;

    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

#output-main {
    background-color: white;
    font-size: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.output-main-normal {
    grid-column-start: span 4;
}

.output-main-sci {
    grid-column-start: span 9;
}

#output-history {
    background-color: white;
    font-size: 100%;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.output-history-normal {
    grid-column-start: span 4;
}


.output-history-sci {
    grid-column-start: span 9;
}

.button {
    border: 1px solid black;
    background-color: #666;
}

.hidden {
    display: none;
}